* {box-sizing: border-box;}

.parent_cont_d {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    top: 8%;
    left: 8%;
    right: 8%;
    bottom: 3%;
    display: block;
    position: absolute;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 5px solid #6600ff;
    border-radius: 20px;
}

.navlbl {
    background-color: none;
    position: relative;
    margin: auto;
    display:block;
    width: 100%;
    height: 8%;
    margin: 0px;
    float: left;
    padding: 1%;
    color: darkcyan;
}

.navitem {
    background-color: darkgrey;
    color: whitesmoke;
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    height: 21%;
    margin: 0px;
    margin-bottom: 40px;
    float: left;
    padding-top: 2%;
    padding-left: 3%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: .1s;
}

.navitem:hover{
    background-color: aqua;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.0), 0 10px 20px 0 rgba(0, 0, 0, 0.20);
    transition: .2s;
}

.navitem:hover {
    font-size: 22px;
    transition: .08s;
}

#dash:hover{
    background-color: #e60000;
    color: whitesmoke;
    transition: .1s;
}

#elog:hover{
    background-color: #6600ff;
    transition: .1s;
}

#vstream:hover{
    background-color: lightseagreen;
    color: whitesmoke;
    transition: .1s;
}

#bodyid{
    background-color: darkcyan;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
