body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar_section {
    overflow: hidden;
    background-color: #4d4d4d;
    padding-right: 30px;
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
}

@media only screen and (max-width: 940px) {
    body{
        max-width: 940px;
        width:940px;

    }
    #home{
        margin-right: 5px;
    }
    .navbar_section{
        padding-right: 0px;
        max-width: 100%;
    }
}



.navbar_section a  {
    overflow: hidden;
    float: right;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_section a:hover {
  background-color: #f2f2f2;
  color: black;
  transition: .3s;
}

#webtitle{
    text-decoration: none;
    float: left;
    margin: 0px;
    margin-top:2px;
    margin-left: 40px;
    font-size: 30px;
    color: 	#ff4d4d;
}